.nc-highlighted {
  position: absolute;
  left: 0;
  top: 0;    
  padding: 4px 8px 8px 4px;
  width: 16px;
  height: 16px;
  border-bottom-right-radius: 17px;
  background: #1f2d51;
  svg {
    fill: #FA5A5A;
  }
}